= simple_form_for(@user, html: { class: "form-horizontal" }) do |f|
  = f.error_notification

  %fieldset
    .form-group.col-lg-5
      = f.input :email, input_html: { class: 'form-control' }
      = f.input :wants_email, :label => 'email notifications'

  .form-actions
    = f.button :submit, 'Save'
